<div class="row">
    <i class="fa-stack fa-lg col-sm-2 text-center @GetMutedClass()">
        <i class="fa fa-circle fa-stack-2x" />
        <i class="fa @SymbolClass fa-stack-1x text-dark" />
    </i>
    @if(Source) {
        <Check />
    }
    else {
        <span class="col-sm-2"></span>
    }
    <span class="col-sm-8 text-center">
        @(Source ? SuccessMessage : FailureMessage)
    </span>
</div>

@code {
    [Parameter]
    public bool Source { get; set; }

    [Parameter]
    public string? SymbolClass { get; set; }

    [Parameter]
    public string? SuccessMessage { get; set; }

    [Parameter]
    public string? FailureMessage { get; set; }

    public string GetMutedClass() => 
        Source ?
            String.Empty :
            "text-muted";
}