<div class="jumbotron jumbotron-fluid bg-dark mb-0" alt="Photo by Benjamin Child on Unsplash - https://unsplash.com/photos/GWe0dlVD9e0">
    <div class="container text-white">
        <h1 class="display-2 text-white d-none d-lg-block">
            Elevate your work style
        </h1>
        <h1 class="display-4 text-white text-center d-lg-none">
            Elevate your work style
        </h1>
        <p class="lead text-center">
            Transform the way you work, meet clients and collaborate with an inspiring and unique office experience.
        </p>
        <hr class="my-4" />
        <a href="/locations" class="btn btn-primary btn-lg" role="button">
            Explore our locations
        </a>
    </div>
</div>